header
    .bg-blue-500
        .max-w-6xl.mx-auto
            .flex.justify-center.items-center.py-8(class='md:justify-between')
                a(href="/") 
                    img.w-full.h-20(src="/img/logo.svg", alt="Logo de la agencia")
                
                nav.flex.gap-6.items-center.justify-center(class='md:justify-end')
                    a.text-xl.font-bold.text-white.uppercase(href="/nosotros") Nosotros
                    a.text-xl.font-bold.text-white.uppercase(href="/viajes") Viajes
                    a.text-xl.font-bold.text-white.uppercase(href="/testimoniales") Testimoniales