h1.text-center #{page}
  h2.text-center.mb-6 Lee sobre nuestros Clientes y sus experiencias 
  .grid.grid-cols-3.gap-4
    each testimonial in testimoniales
      div.flex.flex-col.bg-gray-100.p-3.rounded-lg.h-fit
          p.mb-0
            | #{testimonial.mensaje}
          footer.blockquote-footer
            | #{testimonial.nombre}