extends ./layouts/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.max-w-6xl.mx-auto
        h1.text-center= pagina

        .flex.gap-4.items-center.mb-3
            div(class="flex flex-col gap-2 w-1/2")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ante non orci rutrum ultricies eget quis neque. Mauris tellus libero, finibus quis ipsum at, mattis scelerisque lectus. Nulla justo metus, fringilla non semper eu, ultricies nec orci. Duis condimentum quam id volutpat congue. Curabitur sem massa, efficitur ut mi id, tincidunt porta orci. Aenean sodales ligula in tortor egestas, sed congue nibh sagittis. In eleifend ex in nisl ultrices, ut condimentum felis commodo. Cras porta ex a purus dapibus, sed posuere arcu porttitor. Pellentesque eget venenatis sem, sed pulvinar velit.

                p Suspendisse fermentum et sem quis viverra. Aliquam ac pretium est. Vivamus eget erat eros. Ut in gravida ligula. Donec varius eget massa et hendrerit. Proin pharetra eleifend elit, dapibus ornare odio dignissim ac. Duis nisl lectus, tristique at suscipit eu, feugiat quis leo. Nunc molestie ligula quis felis facilisis, laoreet auctor libero pulvinar.

            div(class="w-1/2")
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros", class="w-full")

        h2.text-center.mb-3 Viajes

        include ./layouts/bloque_viajes

    .descuento.mt-6
        .grid.grid-cols-2.h-full.items-center
            .flex.flex-col.gap-2.items-end.pr-10
                h3 5% de Descuento
                p.titulo.text-white Viaje a Canada 
                p.fecha.text-white.mb-2 20 de Marzo de 2021 - 28 de Marzo de 2021
                p.precio $2,500 USD
            